:root{
    --cor-fundo: #91a2d1;
}

body {
    display: flex;
    background-color: var(--cor-fundo);
}

.tabuleiro{
    display: column;
    width: fit-content;
    height: fit-content;
}
.l1, .l2, .l3{
    display: flex;
}
.item {
    width: 100px;
    height: 100px;
    border: 2px black solid;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.X {
    width: 100px;
    height: 100px;
    position: relative;
}
.X:before,
.X:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: black;
}
.X:before {
    transform: rotate(45deg);
}
.X:after {
    transform: rotate(-45deg);
}

.O {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px black solid;
}

.destaque{
    background-color: red;
}

.tabela_pontuacao {
    display: flex;
    width: 400px;
    height: 150px;
    margin: 0 5px;
    justify-content: space-evenly;
    border: 2px black solid;
}

.pontuacao_x_t,.pontuacao_y_t{
    margin: 10px 0 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.pontuacao_y, .pontuacao_x {
    text-align: center;
}