@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Niconne&display=swap');

:root{
    --cor-fundo: #010716;
    --cor-botao: #090f24;
}

body {
    display: grid;
    height: fit-content;
    grid-template-rows: 50% 50%;
    place-items: center;
    align-content: center;
    background-color: var(--cor-fundo);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.tabuleiro{
    display: column;
    width: fit-content;
    height: fit-content;
}
.l1, .l2, .l3{
    display: flex;
}
.item {
    width: 100px;
    height: 100px;
    border: 2px white solid;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.X {
    width: 100px;
    height: 100px;
    position: relative;
}
.X:before,
.X:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: white;
}
.X:before {
    transform: rotate(45deg);
}
.X:after {
    transform: rotate(-45deg);
}

.O {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px white solid;
}

.destaque{
    background-color: rgb(49, 221, 63);
}

.tabela_pontuacao {
    display: flex;
    width: 400px;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border: 2px white solid;
}
.pontuacao_x_t,.pontuacao_o_t{
    margin: 10px 0 10px;
    font-size: 1.3em;
    font-weight: bold;
}
#pontuacao_o, #pontuacao_x {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
#restart{
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    color: white;
    background-color: var(--cor-botao);
    border: 2px white solid;
    border-radius: 0 0 10px 10px;
    margin-bottom: 5px;
}